.options {
    color: rgb(171, 33, 113);
    margin-right: 0%;
    
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 220, 241);
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: white;
}


